@font-face {
  font-family: 'Amidala';
  src: local('Amidala'), url(./assets/fonts/Amidala/AmidalafontRegular.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: fixed center/cover url(./assets/background.jpg) ;
}

.app-title {
  margin-top: 50px;
  color: #dea302;
  font: 100px "Amidala", fantasy;
  text-align: center;
}

@media (max-width: 480px) {

  .app-title {
    font-size: 50px;
  }
}