@font-face {
  font-family: 'Amidala';
  src: local('Amidala'), url(./assets/fonts/Amidala/AmidalafontRegular.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: no-repeat center/cover url(./assets/background.jpg) ;
}

.app-title {
  margin-top: 50px;
  color: #dea302;
  font: 100px "Amidala", fantasy;
}